<form class="p-4" [formGroup]="taskForm">
    <h3 class="mb-3 border-bottom">{{ title }}</h3>
    <label class="mb-2" for="title">Título*</label>
    <input formControlName="title" class="form-control" type="text" id="title" name="task-title" />

    <label class="mb-2 mt-2" for="description">Descripción*</label>
    <textarea class="w-100" formControlName="description" name="description" id="description"> </textarea>

    <div class="d-flex align-items-center flex-column">
        <button id="btn-save" class="btn btn-primary btn-sm  mt-3 w-50" (click)="saveTask()" [disabled]="taskForm.invalid">
            Guardar
        </button>
        <button id="btn-cancel" class="btn btn btn-light btn-sm mt-3 w-50" (click)="cancelEdit()"> Cancelar </button>
    </div>
</form>
